
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{article.title}}</mat-card-title>
      <mat-card-subtitle class="white-text">{{article.date}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>  

  <div *ngIf="(columns$ | async)! == 1">
    <ngb-artcontents mat-grid-tile 
        [article]="article">
    </ngb-artcontents>

    <ngb-artside mat-grid-tile 
        *ngIf="suggestedArticles$ | async as products"
        [recentarticles]="products"
        [article]="article">
    </ngb-artside>
  </div>

  <div *ngIf="(columns$ | async)! > 1">
    <ngb-artcontents mat-grid-tile 
        fxFlex="66"
        [article]="article">
    </ngb-artcontents>

    <ngb-artside mat-grid-tile 
    fxFlex="34"
        *ngIf="suggestedArticles$ | async as products"
        [recentarticles]="products"
        [article]="article">
    </ngb-artside>
    </div>


