<mat-card class="example-card">
    <!--mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content-->
    <ng-template #t let-fill="fill">
      <span class="star" [class.full]="fill === 100">
        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
      </span>
    </ng-template>
    <div *ngIf="(currentRate>=0)&&(currentRate<=5)">
      <ngb-rating class="star" [(rate)]="currentRate" [starTemplate]="t" [max]="5"></ngb-rating>
    </div>

    <br>

    <div 
    [innerHTML]="contents">            
    </div>
  </mat-card>
