@import '~@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$ngb-primary: mat-palette($mat-cyan);
$ngb-accent:  mat-palette($mat-cyan, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ngb-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ngb-theme:      mat-light-theme($ngb-primary, $ngb-accent, $ngb-warn);
$ngb-background: map-get($ngb-theme, background);
$ngb-foreground: map-get($ngb-theme, foreground);
$ngb-typography: mat-typography-config();
