<div fxFlex="0 1 1440px">

  <mat-toolbar class="toolbar">


    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/articles', 1]">
        <span>About Me</span>
      </button>
      <button mat-menu-item [routerLink]="['/category', cat]" *ngFor="let cat of categories$ | async;">
        <span>{{cat}}</span>
      </button>
    </mat-menu>

    <div class="toolbar__logo-title-group"
         fxLayout
         fxLayoutAlign="center center">      
      <a class="toolbar__title"
         routerLink="/">WZUniverse</a>
    </div>

    <div fxFlex></div>

    <button mat-icon-button
            class="toolbar__icon-button"
            (click)="goToLink('mailto:zjzzjz2010@gmail.com?Subject=Followup%20from%20WZUniverse')">
            <!--(click)="mailto:zjzzjz2010@gmail.com?Subject=Followup%20from%20website"-->
            <mat-icon>email</mat-icon>
    </button>
    <button mat-icon-button
            class="toolbar__icon-button"
            (click)="goToLink('//linkedin.com/in/jingzhongzhang/')">
      <mat-icon>linkedin</mat-icon>
    </button>    
  </mat-toolbar>

  <router-outlet></router-outlet>

  <mat-grid-list class='footer' cols="2" rowHeight="8rem" style="margin: 2rem 0;">
    <mat-grid-tile
        class="tile"
        [colspan]="1"
        [rowspan]="2">

        <mat-nav-list>
          <a mat-list-item href="#/category/{{cat}}" *ngFor="let cat of categories$ | async;"> {{ cat }} </a>
       </mat-nav-list>        
    </mat-grid-tile>

    <mat-grid-tile
        class="tile"
        [colspan]="1"
        [rowspan]="2">

        <mat-nav-list>
          <a mat-list-item href="#/"> Home </a>
          <a mat-list-item href="#/articles/1"> About Me </a>                    
       </mat-nav-list>        
    </mat-grid-tile>  

       <mat-grid-tile
       [colspan]="2"
       [rowspan]="1">
        <div class="footer-copyright py-3" style="margin: 1rem 0;">© 2021 Copyright:
          <a> Jingzhong Zhang</a>
        </div>                  
   </mat-grid-tile>  

  </mat-grid-list>

<!-- Footer -->  

</div>