<div fxFlex="0 1 1440px" margin="auto">
  



  <mat-toolbar class="toolbar">


    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/articles', 1]">
        <span>About Me</span>
      </button>
      <button mat-menu-item [routerLink]="['/category', cat]" *ngFor="let cat of categories$ | async;">
        <span>{{cat}}</span>
      </button>
    </mat-menu>

    <div class="toolbar__logo-title-group"
         fxLayout
         fxLayoutAlign="center center">      
      <a class="toolbar__title"
         routerLink="/">WZUniverse</a>
    </div>

    <div fxFlex></div>

    <button mat-icon-button
            class="toolbar__icon-button"
            (click)="goToLink('mailto:zjzzjz2010@gmail.com?Subject=Followup%20from%20WZUniverse')">
            <!--(click)="mailto:zjzzjz2010@gmail.com?Subject=Followup%20from%20website"-->
            <mat-icon>email</mat-icon>
    </button>
    <button mat-icon-button
            class="toolbar__icon-button"
            (click)="goToLink('//linkedin.com/in/jingzhongzhang/')">
      <mat-icon>linkedin</mat-icon>
    </button>    
  </mat-toolbar>

  <router-outlet></router-outlet>

</div>