@import '../styles/theme';

:host {
  display: block;
  height: 100%;
}

mat-sidenav-container {
  height: 100%;
  //width: 1120px;
  //text-align: center;
}

.toolbar {
  background-color: mat-color($ngb-background, card);
  position: relative;
}

.toolbar__logo-title-group {
  position: absolute;
  right: 50%;
  left: 50%;
}

.toolbar__logo {
  height: 32px;
  //margin-right: 16px;
}

.toolbar__title {
  color: mat-color($ngb-foreground, text);
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.toolbar__icon-button {
  color: mat-color($ngb-foreground, icon);
}

.toolbar__shopping-cart-button {
  //margin-right: 8px;
}

::ng-deep .mat-drawer-content.mat-sidenav-content {
  overflow: unset;
}

.centerImage
{
 text-align:center;
 display:block;

}

html {
  position: relative;
  min-height: 100%;
}

body {
/* Margin bottom by footer height */
margin-bottom: 300px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
  line-height: 100px;
}

.tile {
  background-color: mat-color($ngb-primary, card);
    text-align: start;
    justify-content: normal;    
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option{
  height: 36px;
}