@import '../../styles/theme';

:host {
  display: block;
}

.tile {
  background-color: mat-color($ngb-background);

  &:hover {
    @include mat-elevation(4);
    transition: .3s;
  }
}

.tile__content {
  display: block;
  height: 100%;
  width: 100%;
  //padding: 16px;
  position: relative;
  text-align: left;
  justify-content: center;
  text-decoration: none;
}

.tile__price-tag {
  color: mat-color($ngb-foreground, text);
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 20px;
  top: 20px;
}

.tile__price-tag--xs {
  font-size: 14px;
}

.tile__thumbnail {
  background: no-repeat 100% 100%;
  background-size: contain;
  background-position: center;
  height: 70%;
  width: 100%;
  justify-content: center;

}

.tile__title {
  color: mat-color($ngb-foreground, text);
  font-family: 'Abril Fatface', cursive;
  font-size: mat-font-size($ngb-typography, title);
  line-height: mat-line-height($ngb-typography, title);
}

.tile__title--lg {
  font-size: mat-font-size($ngb-typography, title);
  line-height: mat-line-height($ngb-typography, title);
}

.tile__title--xs {
  font-size: mat-font-size($ngb-typography, title);
  line-height: mat-line-height($ngb-typography, title);
}

.mat-standard-chip {    
  min-height: 20px !important;
}

.mat-raised-button{
  max-height: 36px !important;
  width:30%;
  margin-left:35%;
  margin-right:35%;
}